<ul class="social-media-list">
    {%- if site.facebook_username -%}<li><a
            href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" target="_blank"><svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
            </svg> <span class="username">{{ site.facebook_username| escape }}</span></a></li>{%- endif -%}
    {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank"><svg
                class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg> <span class="username">{{ site.github_username| escape }}</span></a></li>{%- endif -%}
    {%- if site.instagram_username -%}<li><a
            href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}" target="_blank"><svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
            </svg> <span class="username">{{ site.instagram_username| escape }}</span></a></li>{%- endif -%}
    {%- if site.komoot_id -%}<li><a href="https://www.komoot.com/user/{{ site.komoot_id| cgi_escape | escape }}">
        <span class="username">Komoot</span></a></li>
    {%- endif -%}
</ul>